body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: #599BFF;
}

div.canvasWrapper{
    margin-top: 5vh;
    height: 80vh;
    width: 80vw;
    position: relative;
    border: 2px solid black;
    border-radius: 3vw;
}

div.panel{
    border-radius: 2vw;
    background: #E6E6E6;
    height: 18vw;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.panel > div{
    border: 2px solid black;
    border-radius: 3vw;
    width:  12vw;
    height: 12vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.panel svg{
    width: 8vw;
    height: 8vw;
}

@media (max-width: 415px) {
}